# Choose the applicable timezone from the list linked below:
# https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
# Use the column that says "TZ database name".
export TIMEZONE=Asia/Calcutta

# Base path to media files storage
export STORAGE_DIR=/path/to/storage

# Base path to store docker apps config data
export APP_CONFIG_DIR=/path/to/app/config

# The PleX claim token is used to connect your server to your account. It can be obtained at
# https://www.plex.tv/claim/ and is valid for 4 minutes after generating the token.
export PLEX_CLAIM=

# Enable/disable services (true/false)
export ENABLE_SONARR=false
export ENABLE_RADARR=false
export ENABLE_LIDARR=false
export ENABLE_READARR=false
export ENABLE_PROWLARR=false
export ENABLE_QBITTORRENT=false
export ENABLE_JELLYFIN=false
export ENABLE_PLEX=false
export ENABLE_PORTAINER=false
