# Choose the applicable timezone from the list linked below:
# https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
# Use the column that says "TZ database name".
# TIMEZONE=Asia/Calcutta

# Preferably a path on your mounted HDD
# DATA_DIR=/mnt/hdd

# Preferably a path in your home directory
# DOCKER_CONFIG_DIR=/home/user