# Keys
# Generated using: openssl rand -hex 16
ENCRYPTION_KEY=SOME-ENCRYPTION-KEY

# JWT
# Generated using: openssl rand -base64 32
AUTH_SECRET=SOME-AUTH-SECRET

# Postgres Creds
POSTGRES_DB=infisical
POSTGRES_USER=infisical
POSTGRES_PASSWORD=SOME-STRONG-PASSWORD

# Postgres Connection URL
DB_CONNECTION_URI=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}

# Redis Creds
REDIS_PASSWORD=SOME-STRONG-PASSWORD

# Redis
REDIS_URL=redis://:${REDIS_PASSWORD}@redis:6379

# Exposed Port
APP_PORT=50001

# Website URL
SITE_URL=http://localhost:50001

# Telemetry Data
TELEMETRY_ENABLED=false
