# -----------------
# Reusable Snippets
# -----------------

# virtualberry
(virtualberry_backend) {
    reverse_proxy http://192.168.0.99:{args.0}
}

# acaiberry
(acaiberry_backend) {
    reverse_proxy http://192.168.0.12:{args.0}
}

# macberry
(macberry_backend) {
    reverse_proxy http://192.168.0.13:{args.0}
}

# ----------------------
# Reverse Proxy Backends
# ----------------------

# Virtualberry Backends

http://pihole.home.lab {
    import virtualberry_backend 81
}

# Acaiberry Backends

http://portainer.home.lab {
    import acaiberry_backend 9000
}

http://monitor.home.lab {
    import acaiberry_backend 8090
}

http://museek.home.lab {
    import acaiberry_backend 8020
}

http://pairdrop.home.lab {
    import acaiberry_backend 3000
}

http://cook.home.lab {
    import acaiberry_backend 8078
}

# Macberry Backends

http://chat.home.lab {
    import macberry_backend 8082
}

http://changed.home.lab {
    import macberry_backend 5000
}

http://hotflix.home.lab {
    import macberry_backend 8096
}

http://shows.home.lab {
    import macberry_backend 8989
}

http://movies.home.lab {
    import macberry_backend 7878
}

http://torrent.home.lab {
    import macberry_backend 8080
}

http://prowlarr.home.lab {
    import macberry_backend 9696
}
