SPOTIFY_CLIENT_ID=your-spotify-client-id
SPOTIFY_CLIENT_SECRET=your-spotify-client-secret
SPOTIFY_REDIRECT_URI=https://your-host.com/api/auth/spotify/callback
PLAYLISTS_IMAGE_URL=/path/to/playlists_thumbnail.webp
SAVED_TRACKS_IMAGE_URL=/path/to/saved_tracks.webp
