[Unit]
Description=Call the Duplicity backup script every hour
RefuseManualStart=no
RefuseManualStop=no

[Timer]
OnCalendar=*-*-* *:00:00
Persistent=true
RandomizedDelaySec=900
Unit=duplicity.service

[Install]
WantedBy=timers.target